@import '../../../styles/settings.scss';

.root {

  margin: 0 auto;
  padding: 20px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  background-color: $background-light;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;

    .box {
      padding: 0 0.5rem;
    }
  }

  .title {
    font-family: $font-second;
    font-size: 2.7rem;
    line-height: 1.3;
    color: $font-red;
    text-align: center;
  }
}
